body { /* navigation stles */
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
  }
  
  .topnavigation {
    overflow: hidden;
    background-color: rgb(214, 125, 23);
  }
  
  .topnavigation a {
    float:right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnavigation a:hover {
    background-color: rgb(221, 7, 7);
    color: black;
  }
  
  .topnavigation a.active {
    background-color: #2ed133;
    color: white;
  
  }

  header { /* header styles */
    background-color: rgb(226, 224, 192);
    padding: 10px;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
  }

  .heading{ /* heading under main image */
      text-align: center;
      font-size: 300%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: brown;
      background-color: cornsilk;
  }

  .sub{ /* heading 2 under main image  */
      text-align: center;
      font-size: 200%;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(99, 26, 26);

  }

section{ /* all section styles */
    text-align: center;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(42, 179, 0);
    
}

.list3 h2{ /* unordered list topic color */
    color: rgb(39, 39, 80);
}

ul{ /* list content  */
    list-style-type: none;
    color: crimson;
}

h2{ /* scrolling heading  */
    color: crimson;
    font-size: 500%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pol{ /* section 2 heading properties */
    color: rgb(238, 155, 0);
    text-align: right;
    background-color: black;
    font-size: 600%;
    padding-right: 40px;

}

.save{ /* image positin */
    position: relative;
    text-align: center;
    color: black;

  }

  .save1{ /* message inside the image */
    position: absolute;
    color: rgb(255, 255, 255);
    color: rgba(255, 0, 0, 0.5);
    padding-left: 40px;
    padding-right: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    animation-name: color;
    animation-duration: 7s;
  }

  @keyframes color{ /* animation inside the image */
      from{color:rgba(255, 0, 0, 0.5)}
      to{color: sandybrown;}
  }

  footer{ /* footer styles */
    background-color: rgb(51, 5, 5);
    padding: 10px;
    color: rgb(236, 208, 208);
    text-align: left;
  }

  footer .eco{ /* footer heading */
    text-align: left;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 83, 16);
  }

  footer .eco2{ /* footer text alignment */
    text-align: left;
  }
  

  @media (max-width:500px){/* responsive for mobile */
    header, .topnavigation, .image1, .heading, .sub, section, .list3, .save1, .save, footer, .eco, .eco2{
      width: 100%;
    }
  }

  @media(max-width:800px){/* responsive for tablets */
    header, .topnavigation, .image1, .heading, .sub, .list3, .save1, .save, footer, .eco, .eco2{
      width: 80%;
      padding: 0;
    }
    section{
      width: 100%;
    }
  }
